
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	main: '';
	main: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS sebelum reset */

body {
    font: 16px/20px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    width: 400px;
    margin: auto;
    background-color: white;
}
.head{
    margin-left: 5px;
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icons1-img{
    width: 40px;
    height: 40px;
}

.head h1{
    margin-left: 5px;
}

.gold1 {
    display: flex; 
    align-items: flex-start;
    padding: 10px; 
    background-color: #d0f5f4;
}

.icons2-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.gold2 {
    display: flex; 
    align-items: flex-start;
    padding: 10px; 
}

.gold3 {
    display: flex; 
    align-items: flex-start;
    padding: 10px;
    background-color: #d0f5f4;
}

.sickness1 {
    display: flex; 
    align-items: flex-start;
    padding: 10px;
    background-color: #d0f5f4;
}

.icons3-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.sickness2 {
    display: flex; 
    align-items: flex-start;
    padding: 10px; 
}

.sickness3 {
    display: flex; 
    align-items: flex-start;
    padding: 10px; 
}

.overtime1 {
    display: flex; 
    align-items: flex-start;
    padding: 10px;
    background-color: #d0f5f4;
}

.icons4-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.overtime2 {
    display: flex; 
    align-items: flex-start;
    padding: 10px; 
}

.overtime3 {
    display: flex; 
    align-items: flex-start;
    padding: 10px; 
}

.date{
    font-size: 10px;
 }